extends layout

block logo
  include elements/logo
block content
  div(class="main-page loaded" id="main-page")
    div.blockH1 #{item.client} / #{item.prog}

    div.blockBox
      div.newsTitle  #{item.news}  #{newsDate}
      div.blockTitle #{item.title}
      div.blockAuthor
        i #{lang.author}:&nbsp;
        span #{item.author}
      div.blockState
        if(item.isReady && !item.isApprove)
          span #{lang.textIs} #{lang.ready}
        if(item.isApprove)
          span #{lang.textIs} #{lang.approve}
        if(!item.isReady && !item.isApprove)
          span #{lang.textIs} #{lang.NotReady}

      pre.blockText   #{item.text}

    div.center



